<header>
    <%= link_to new_message_path do %>
        <b>Write me a message</b>
    <% end %>
</header>
<%
    @messages.each do |message|
%>
<aside>
    <h3><%= message.sender %>, <span><%= message.location%></span></h3>
    <p><%= message.body%></p>
    <p><a href="#"><em>Read more</em></a></p>
</aside>
<% end %>